[Desktop Entry]
Type=Service
ServiceTypes=Krita/PythonPlugin
X-KDE-Library=easy_button
X-Python-2-Compatible=false
X-Krita-Manual=Manual.html
Name=Easy Buttons
Comment=Easy and quick way to use Blending modes with some clicks.
